* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding-block: 3.5rem;
}

.gallery {
    display: columns;
    columns: 3;
}

.gallery img {
    width: 100%;
    padding-block: 8px;

}
.card{
    text-align: center;

}
.card::after{
    position: relative;
    bottom: 35px;
    content: var(--legenda);
    font-size: 1rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 800;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
}