* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding-block: 3.5rem;
}

.gallery {
    display: columns;
    columns: 3;
}

.gallery img {
    width: 100%;
    padding-block: 8px;
}