* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --legenda: attr(subtitle)
}

body {
    padding-block: 3.5rem;
}

.gallery {
    display: columns;
    columns: 3;
}

.gallery img {
    width: 100%;
    padding-block: 8px;
}

.gallery::after {
    content: var(--legenda);
    font-family: sans-serif;
    text-align: center;
    font-size: 5.5rem;
}